<kendo-grid  [sortable]="true"   [kendoGridBinding]="gridData" [selectable]="selectable" (remove)="onRemove($event)" (edit)="editClick($event)"  (add)="onToggle()"     (selectionChange)='onGridSelectionChange($event)'>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand fillMode="outline" icon="add" #anchor >Add Unicorn</button>
    <button kendoButton (click)="onRemoveAll()" icon="delete" style="color: red;"> Remove all Data</button>
    <kendo-popup [anchor]="anchor"><app-popup-detail (addEvent)="onPostData($event)" *ngIf="show"></app-popup-detail></kendo-popup>
  </ng-template>
  
  <kendo-grid-column field="name" title="Name"></kendo-grid-column>
  <kendo-grid-column field="age" title="Age" ></kendo-grid-column>
  <kendo-grid-column field="colour" title="Color" ></kendo-grid-column>
 <!--  <kendo-grid-column field="_id" title="ID"></kendo-grid-column>
 -->
 <kendo-grid-command-column title="Command">
  <ng-template kendoGridCellTemplate  >
    <button kendoGridEditCommand icon="edit" fillMode="outline" #edit>Edit</button>
    <kendo-popup [anchor]="edit"><app-popup-detail  *ngIf="showEdit"  [unicorn]="editableUnicorn" (addEvent)="onEditData($event)"></app-popup-detail></kendo-popup>
      <button kendoGridRemoveCommand icon="delete" style="color: red;"> Remove</button>
     
     
  </ng-template>
</kendo-grid-command-column>
</kendo-grid>


<br><br>

